---
import HeroBg from '../../b2c/assets/HeroBg.jpg'
import Button from '../../../../components/Button';
import HeroLogo from '../../../../assets/images/HeroLogo.png';

---
<section
  class="h-[976px] bg-top bg-cover bg-no-repeat"
  style={`background-image: url('${HeroBg.src}');`}
>
  <div class="pl-[150px] mt-[255px]">
    <img 
      src={HeroLogo.src} 
      alt="InkOut Brand Logo" 
      class="max-w-[374px] max-h-[75px]"
    />
    
    <h1 class="text-[64px] leading-[70px] font-optima mt-[20px]">
      Transform Your Skin. <br />
      Reclaim Your Story.
    </h1>
    
    <p class="mt-[40px] font-helvetica text-[28px] max-w-[680px]">
        The safe, natural and effective way to remove, revise, or replace your tattoo.
    </p>
    
    <Button href="#" variant="secondary" className="max-w-[404px] uppercase mt-[33px]">
      Start your transformation
    </Button>

    <p class="mt-[33px] text-[28px] font-helvetica">
      No-cost Consultation. Only Truth. Just Results.
    </p>
  </div>
</section>
