---
import Science from '../assets/Science.jpg'
import IconRight from '../../../../assets/images/IconRight.jpg' 
---
<style>
    .fill-gradient{
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.00) 0%, #EBF5FF 100%);
    }
</style>

<section class="px-[140px] pb-[50px] flex flex-col items-center fill-gradient">
    <h2>Science <span class="text-accent">That Matters</span></h2>
    <div class=" text-left mt-[50px]">
    <p class="font-gotham-medium">We're not feared-mongering, but you should know:</p>
    <p >Recent Studies show laser removal might increase lyphoma risk by fragmenting ink into your system. inkOUT avoids this completely by expelling ink naturally.</p>
    <p class="mt-[50px]"><span class="text-accent font-gotham-bold">Your body, your choice.</span> We're just here to give you the safest, most effective option.
Don’t believe us? Read the peer reviewed, academic published articles…fair warning, it’s long and painful, like cancer.</p>
    </div>
    <button class="mt-[30px] mb-[50px] flex items-center gap-2 text-blue font-gotham-medium text-[32px]">Skip to Science <span><img src={IconRight.src} alt=""></span></button>
    <img src={Science.src} alt="">
</section>