---
import Button from '../../../../components/Button';
import ArrowDownward from '../../../../assets/images/ArrowDownward.svg';
---
<style>
.bg-linear-2 {
  background: linear-gradient(
    180deg, 
    rgba(235, 245, 255, 0.9) 0%,  /* #EBF5FF with 90% opacity */
    rgba(255, 255, 255, 0.9) 100% /* #FFF with 90% opacity */
  );
}

</style>

<section class="bg-linear-2">
  <div class="px-[100px] py-[80px] text-center space-y-[50px]">
    <h2>
      Why inkOut Is <span class="text-accent">The Only Choice</span>
    </h2>

    <div class="capitalize text-[45px] font-optima-bold space-y-[50px]">
      <div class="text-black/40 hover:text-accent">
        3-5 Sessions Done
        <!-- <span class="flex items-center justify-center font-gotham-book text-[22px] max-w-[480px] max-h-[80px] normal-case gap-[40px]" style="border-radius: 20px;
border: 1px solid rgba(255, 255, 255, 0.19);
background: rgba(255, 93, 23, 0.20);
backdrop-filter: blur(33.95000076293945px);">
          <img src={ArrowDownward.src} alt="" class="flex flex-row-2" />
          <span class="flex">
            While others drag you through 12+ treatments, we get it done right.
          </span>
        </span> -->
      </div>

      <div class="text-black/60 hover:text-accent">all colors. no exceptions.</div>
      <div class="hover:text-accent">natural <span class="normal-case">and</span> safe</div>
      <div class="hover:text-accent">see it leave</div>
      <div class="text-black/60 hover:text-accent">less pain, more gain</div>
      <div class="text-black/40 hover:text-accent">your health matters</div>
    </div>

    <div class="space-y-[30px]">
      <Button variant="secondary">FIND YOUR LOCAL inkOUT PROVIDER</Button>
      <p>*Check the facts at the bottom of this page if you're into that.</p>
    </div>
  </div>
</section>
