---
import HeaderLogo from "../assets/images/InkoutLogoNew.png";
import Button from './Button';

---

<div class="bg-white pr-[50px] pl-[110px] mt-[10px] rounded-r-[66px] h-[75px] flex justify-between items-center z-50 absolute w-[1380px]">
  <img src={HeaderLogo.src} alt="Header Logo" />

  <Button href="#" variant="primary" className="max-w-[96px] text-ssm">Contact</Button>
</div>