---
import "../styles/global.css"
import Banner from '../components/banner.tsx';
import Header from '../components/Header.astro'
import Footer from '../components/footer.astro'
---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body class="bg-white">
        <main class="max-w-[1440px] mx-auto">
            <Banner  client:load />
            <Header />
			<slot />
			<Footer />
        </main>
	</body>
</html>
